body{
    margin: 0;
}

.container{
    width: 1280px;
    margin: 0 auto;
    border:1px solid black;
}

header{
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
   
}

.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
    color: #fff;
    font-family: Arial;
  }